.wrapper {
  display: flex;
  background-color: #fcf9f0;
  border-radius: 5px;
}

.wrapper_img { width: 45px }

.wrapper_res {
  display: flex;
  align-items: center;
}

.wrapper_text {
  margin: 0px 8px;
}

.wrapper_text_res {
  font-weight: 400;
}

.wrapper_text_desc{
  padding-top: 2px;
  font-size: 11px;
  color: grey; 
}